@charset "UTF-8";
body {
    background-color: #f1f1f1;
}

/* aplicaciones de fuentes */

* {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

h2 {
    font-weight: 900;
    color: #000000;
}

h3 {
    font-weight: 700;
    color: #ffffff;
}

h5 {
    font-weight: 800;
    color: #ffffff;
    font-size: 1.5rem;
}

h6 {
    font-weight: 700;
    color: #ffffff;
    font-size: 1.6rem;
}

a {
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    font-size: 2rem;
}

p {
    font-weight: 600;
    color: #000000;
    line-height: 1.6;
    font-size: 1.2rem;
}

#texto-noticias p {
    color: #ffffff;
}

/* turno online boton */

.turno-online {
display: flex;
flex-direction: column;
align-items: flex-end;
margin: 20px 100px 0 0;
}

.turno-online p {
    color: #134661;
    margin: 0 0 0 0;
}

.turno-online h5 {
    border-radius: 20px;
    background: #134661;
    display: flex;
    width: 430px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 20px 0px
}

/* header */

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 100px;
    margin: 40px 100px 0px 0;
}

/* footer */

footer p {
    font-weight: 400;
    color: #ffffff;
    font-size: 0.9rem;
}













































































































































































































/* CCS institucional Facu */

.texto-gestion-calidad {
    display: flex   ;
    flex-direction: column;
    
}

.texto-gestion p {
    font-size: 30px;    
    margin: 12px;
    font-weight: 400;
}

.texto-gestion img {
    border-radius: 10%;
}
.texto-gestion{
    display: flex ;
    align-items: flex-start;
    gap: 32px;
}

#gestion-de-calidad h3 {
    font-size: 42px;
    color: #134661;
    margin: 0;
    font-weight: 700;
}

#gestion-de-calidad {
    display: flex;
    gap: 32px;
    flex-direction: column;
    margin: 60px;
}

.mision p,.vision p {
    font-size: 22px ;
    margin: 0px;
    font-weight: 400;
}

.mision h4, .vision h4 {
    font-size: 28px;
    color: #76A9D7;
    margin: 0;
    font-weight: 700;
}

.mision,.vision {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 570px;
    height: 220px;
    border: solid 2px #134661;
    border-radius: 85px;
    padding: 40px;
}

#mision-vision {
    display: flex;
    flex-direction: row;    
    justify-content: space-evenly;
    margin: 50px;
}

.icono-residencias, .icono-turno, .icono-cardiovascular, .icono-clinico {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

#iconos p {
    font-size: 18px;
    font-weight: 700;
    margin: 0px;
}

#iconos {
    display: flex;
    flex-direction: row;
    background-color: #76A9D7;
    justify-content: center;
    gap: 45px;
    padding: 50px;
}

#galeria h3 {
    font-size: 42px;
    color: #134661;
    margin: 0;
    font-weight: 700;
}