@charset "UTF-8";

body {
    background-color: #f1f1f1;
    max-height: 100vh;
}

/* aplicaciones de fuentes */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

html,
body {
    overflow-x: hidden;
}

h2 {
    font-weight: 900;
    color: #000000;
}

h3 {
    font-weight: 700;
    color: #ffffff;
}

h5 {
    font-weight: 800;
    color: #ffffff;
    font-size: 1.5rem;
}

h6 {
    font-weight: 700;
    color: #ffffff;
    font-size: 1.6rem;
}

a {
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    font-size: 2rem;
}

p {
    font-weight: 600;
    color: #000000;
    line-height: 1.6;
    font-size: 1.2rem;
}

#texto-noticias p {
    color: #ffffff;
}

/* turno online boton */

.turno-online {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 16px 16px 0 0;
}

.turno-online p {
    color: #134661;
    margin: 0 0 0 0;
}

.turno-online h5 {
    border-radius: 20px;
    background: #134661;
    display: flex;
    width: 430px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 20px 0px
}

/* header */

#header-turnos {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav {
    width: 100%;
    padding-right: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 100px;
    margin: 16px 100px 0px 0;
    background-color: #319F5A;
}

/* main */

#hero {
    width: 100%;
    margin: 16px auto;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

#hero ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    animation: slide 21s infinite ease-in-out;
}

#hero li {
    width: 100%;
    flex-shrink: 0;
}

#hero img {
    width: 100%;
    height: auto;
    display: block;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    23% {
        transform: translateX(0%);
    }

    33% {
        transform: translateX(-100%);
    }

    56% {
        transform: translateX(-100%);
    }

    66% {
        transform: translateX(-200%);
    }

    90% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0%);
    }
}

.texto-hero {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    padding: 65px 51px;
    box-sizing: border-box;

    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.7) 0%,
            rgba(0, 0, 0, 0.4) 40%,
            rgba(0, 0, 0, 0) 80%)
}


.texto-hero h2,
.texto-hero p {
    color: white;
}

#especialidades-medicas {
    display: flex;
    gap: 10px;
    margin: 10px;
}

#especialidades-medicas article a {
    display: block;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#especialidades-medicas article img {
    width: 400px;
    height: auto;
    display: block;
    border-radius: 20px;
}

#texto-especialidades h2 {
    color: #EAD7FB;
    font-size: 1.5rem;
    font-weight: 900;
}

#texto-especialidades p {
    color: #EAD7FB;
    font-size: 1rem;
    font-weight: 600;
}

 #texto-especialidades {
    background-color: #319F5A;
    width: 371px;
    height: auto;
    border-radius: 20px;
    padding: 20px 30px;
    position: absolute;
    bottom: 8px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.6s ease;


}
#especialidades-medicas a:hover #texto-especialidades {
    opacity: 1;
}

#especialidades-medicas a:hover>* {
    transform: translateY(0px);
}



/* footer */

footer {
    background-color: #40A365;
    display: flex;
}

footer p {
    font-weight: 400;
    color: #ffffff;
    font-size: 0.9rem;
}













































































































































































































/* CCS institucional Facu */

.texto-gestion-calidad {
    display: flex;
    flex-direction: column;

}

.texto-gestion p {
    font-size: 30px;
    margin: 12px;
    font-weight: 400;
}

.texto-gestion img {
    border-radius: 10%;
}

.texto-gestion {
    display: flex;
    align-items: flex-start;
    gap: 32px;
}

#gestion-de-calidad h3 {
    font-size: 42px;
    color: #134661;
    margin: 0;
    font-weight: 700;
}

#gestion-de-calidad {
    display: flex;
    gap: 32px;
    flex-direction: column;
    margin: 60px;
}

.mision p,
.vision p {
    font-size: 22px;
    margin: 0px;
    font-weight: 400;
}

.mision h4,
.vision h4 {
    font-size: 28px;
    color: #76A9D7;
    margin: 0;
    font-weight: 700;
}

.mision,
.vision {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 570px;
    height: 220px;
    border: solid 2px #134661;
    border-radius: 85px;
    padding: 40px;
}

#mision-vision {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 50px;
}

.icono-residencias,
.icono-turno,
.icono-cardiovascular,
.icono-clinico {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

#iconos p {
    font-size: 18px;
    font-weight: 700;
    margin: 0px;
}

#iconos {
    display: flex;
    flex-direction: row;
    background-color: #76A9D7;
    justify-content: center;
    gap: 45px;
    padding: 50px;
}

#galeria h3 {
    font-size: 42px;
    color: #134661;
    margin: 0;
    font-weight: 700;
}